body {
    background-color: #1E1E1E;
    color: #858585;
    padding-left: 2%;
    padding-right: 2%;
}

header {
    background-color: #252526;
    text-align: center;
    border-radius: 10px;
    padding: 0.10% 0.10% 0.10% 0.10%;
}

nav {
    background-color: #252526;
    color: #D7AB4C;
    float: left;
    margin-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
}

nav h3{
    text-align: center;
}

.Games{
    text-align: center;
}

main {
    background-color: #252526;
    float: initial;
    border-radius: 10px;
    padding: 0.10% 3% 0.10% 3%;
    margin-left: 15%;
    margin-right: 0%;
    margin-top: 2%;
}

main p:first-child {
    text-align: center;
}

footer {
    background-color: #252526;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer dd{
    display: block;
    margin-right: 50%;
}

a {
    color: #D7BA7D;
}